@model WeatherStationServer.Model.Station.StationDetailsModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h1>My Weather Station</h1>
    <div class="panel panel-default">
        
        <div class="panel-heading">
            <div class="dropdown">
                Weather Station:
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    @Model.StationId
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    @foreach (var stationId in @Model.AllStationIds)
                    {
                        <li>@Html.RouteLink(stationId, "Default", new {Controller = "Sensor", Action = "Details", stationId = stationId})</li>
                    }
                </ul>
            </div>
        </div>
        
        <div class="panel-body">
            <table class="table table-striped">
                <thead class="thead-default">
                <tr>
                    <th>Sensor</th>
                    <th>Current reading</th>
                    <th>Reading timestamp</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var dataPoint in Model.LatestDataPoints)
                {
                    <tr>
                        <td>@dataPoint.SensorType</td>
                        <td>@dataPoint.SensorValueNumber</td>
                        <td>@dataPoint.SensorTimestampUtc.ToString("s")</td>
                    </tr>
                }
                </tbody>
            </table>
            @foreach (var chartHtml in Model.ChartHtmlList)
            {
                <div class="row">
                    @Html.Raw(chartHtml)
                </div>
            }
        </div>
    </div>
</div>