@model WeatherStationServer.Model.Home.IndexModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h2>Index</h2>

    <table class="table table-striped">
        <thead class="thead-default">
        <tr>
            <th>Station Id</th>
            <th>Sensor Type</th>
            <th>Number of data points</th>
            <th>Earliest data point</th>
            <th>Latest data point</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var sensor in Model.SummaryReport.SensorDetails)
        {
            <tr>
                <td>@sensor.StationId</td>
                <td>@sensor.SensorType</td>
                <td>@sensor.Count</td>
                <td>@sensor.Min</td>
                <td>@sensor.Max</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <table class="table table-striped">
        <thead class="thead-default">
            <tr>
                <th>Station Id</th>
                <th>Sensor Type</th>
                <th>Value</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dataPoint in Model.LatestDataPoints)
            {
                <tr>
                    <td>@dataPoint.StationId</td>
                    <td>@dataPoint.SensorType</td>
                    <td>@dataPoint.SensorValueNumber</td>
                    <td>@dataPoint.SensorTimestampUtc</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@foreach (var chartHtml in Model.ChartHtmlList)
{
    <div class="row">
        @Html.Raw(@chartHtml)
    </div>
}