@using WeatherStationServer.Model
@model WeatherStationServer.Model.Sensor.SensorIndexModel
@{
  ViewBag.Title = "Station Sensors";
}

<div class="row">
  <h1>All Weather Stations Sensors</h1>
  <table class="table table-striped">
    <thead class="thead-default">
    <tr>
      <th>Station Id</th>
      <th>Sensor</th>
      <th>Number of data points</th>
      <th>Earliest data point</th>
      <th>Latest data point</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var sensor in Model.SummaryReport.SensorDetails)
    {
      <tr>
        <td>@Html.RouteLink(sensor.StationId, "Default", new {Controller = "Station", Action = "Details", stationId = sensor.StationId})</td>
        <td>@Html.Partial("SensorLink", new SensorModel(sensor.StationId, sensor.SensorType))</td>
        <td>@sensor.Count</td>
        <td>@sensor.Min.ToString("s")</td>
        <td>@sensor.Max.ToString("s")</td>
      </tr>
    }
    </tbody>
  </table>
</div>